@media (min-width: 769px) {
    /* Global ----------------------------- */
    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    /* Header -------------------------------- */
    header {
        background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        background-position: -538px -1400px, center;
        background-size: 3300px;
    }

    header .toggle-menu {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav div.nav-brand {
        align-items: center;
        margin: 0;
    }

    header nav div.nav-brand a img {
        height: auto;
    }

    header div.area-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(0);
        opacity: 1;
        position: initial;
        background: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        overflow: initial;
        transition: none;
        margin-left: 4%;
    }

    header div.area-nav ul.nav {
        padding: 0;
        border: none;
        display: flex;
        align-items: center;
    }

    header div.area-nav ul li button {
        color: rgba(255, 255, 255, 0.75);
        font-size: 1.1em;
    }

    .product, .company, .connect {
        position: relative;
        display: inline-block;
    }

    .product button, .company button, .connect button {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        transition: none;
    }

    .product button svg path, .company button svg path, .connect button svg path {
        stroke: rgba(255, 255, 255, 0.75);
    }

    .product.active button svg path, .company.active button svg path, .connect.active button svg path {
        stroke: #fff;
    }
    
    .product button:hover, .company button:hover, .connect button:hover {
        transition: 0.3s ease;
        color: #fff;
    }

    .product ul, .company ul, .connect ul {
        position: absolute;
        background-color: #fff;
        width: 170px;
        border-radius: 4px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
        padding: 20px 0;
    }

    .product ul li, .company ul li, .connect ul li {
        display: block;
        text-align: start;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 1em;
        padding: 6px 20px;
    }

    .product.active ul li a, .company.active ul li a, .connect.active ul li a {
        color: #000;
    }

    .product.active ul, .company.active ul, .connect.active ul {
        left: 0;
        opacity: 1;
        position: absolute;
    }

    .product.active ul li a:hover, .company.active ul li a:hover, .connect.active ul li a:hover {
        color: #000;
        font-weight: 500;
    }

    .product.active button, .company.active button, .connect.active button {
        color: #fff;
        text-decoration: underline;
    }

    header div.area-nav ul li button svg path {
        stroke: rgba(255, 255, 255, 0.75);
    }

    header div.area-nav .sign {
        display: flex;
        margin: 0;
    }

    header div.area-nav .sign button {
        color: rgba(255, 255, 255, 0.75);
        font-size: 1.1em;
    }

    header div.area-nav .sign button:hover {
        color: #fff;
        transition: 0.3s ease;
    }

    header div.area-nav .sign .signup-button {
        margin: 0;
        color: var(--light-red);
        background: #fff;
        padding: 15px 40px;
        transition: 0.3s ease;
    }

    header div.area-nav .sign .signup-button:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
    }

    header div.header-content {
        height: calc(100% - 40px);
    }

    header div.header-content h1 {
        font-size: 4em;
    }

    header .header-content p {
        color: rgba(255, 255, 255, 0.75);
    }

    /* Designed Future ------------------------------- */
    #designed-future {
        overflow: initial;
        margin: 140px 22px 50px;
    }

    #designed-future div h1 {
        font-size: 2em;
        margin-bottom: 100px;
    }

    #designed-future div.content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 160px);
        row-gap: 60px;
        overflow: initial;
    }

    #designed-future div.content img {
        order: 2;
        content: url('../images/illustration-editor-desktop.svg');
        position: relative;
        right: -5vw;
        top: -30px;
        grid-column: 2;
        grid-row: 1 / 3;
        min-width: 300px;
        width: 136%;
    }

    #designed-future div.content h1 {
        font-size: 1.4em;
        margin: 0 0 20px 0;
    }

    #designed-future div.content p {
        padding: 0;
    }

    #designed-future div.content h1, #designed-future div.content p {
        text-align: start;
    }

    /* State Art ------------------------------------ */
    #state-art {
        padding: 0;
        height: 400px;
        display: flex;
        align-items: center;
        background-position: -15vw -450px, center;
        background-size: 960px;
        margin-top: 18vw;
    }

    #state-art .container {
        display: flex;
        align-items: center;
    }

    #state-art img {
        width: 60vw;
        max-width: 552px;
        margin-top: 40px;
    }

    #state-art div.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #state-art div.content h1, #state-art div.content p {
        text-align: start;
    }

    /* Free Open Simple -------------------------------- */
    #free-open-simple {
        margin-top: 10vw;
    }
    
    #free-open-simple .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #free-open-simple .container img {
        content: url('../images/illustration-laptop-desktop.svg');
        width: 150%;
        min-width: 300px;
        left: -24vw;
        position: relative;
        top: -30px;
    }

    #free-open-simple .container .content h1, #free-open-simple .container .content p {
        text-align: start;
    }

    /* Footer ------------------------ */
    footer {
        display: block;
    }

    footer .logo {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    footer .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    footer .container nav ul:first-child {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer .container nav ul:first-child p, 
    footer .container nav ul:last-child li a {
        text-align: start;
    }

    footer .container nav ul:last-child li a:hover {
        text-decoration: underline;
    }

    footer .container .attribution {
        font-size: 0.8em;
        /* margin-top: 120px; */
        grid-column: 1 / 3;
    }
}